---
import { ToggleLang } from "./ToggleLang";
import { t } from "i18next";

const menu = [
  {
    label: t("NAV.benefits"),
    path: "/#benefits",
  },
  {
    label: t("NAV.pricing"),
    path: "/#pricing",
  },
  {
    label: t("NAV.resources"),
    path: "/#resources",
  },
  {
    label: t("NAV.questions"),
    path: "/#faqs",
  },
];

const menuButtons = [
  {
    label: t("CTA.login"),
    path: "#",
  },
  {
    label: t("CTA.signup"),
    path: "#",
  },
];
---

<nav
  class="grid nav-mobil duration-300 lg:hidden fixed px-2 w-full top-0 left-0 py-5 backdrop-blur-xl right-0 bottom-0 place-items-center h-[calc(100vh-88px)] text-center md:space-x-4 items-center transition-all -translate-y-full bg-qBg"
>
  {
    menu.map(({ label, path }) => (
      <a class="text-white/90 font-normal text-lg py-3 w-full" href={path}>
        {label}
      </a>
    ))
  }

  <div class="nav-button w-full grid gap-2">
    {
      menuButtons.map(({ label, path }) => (
        <a
          class="text-white text-center font-normal text-lg rounded-md py-2 px-4 border border-transparent transition-colors duration-300 ease-in-out"
          href="path"
        >
          {label}
        </a>
      ))
    }
  </div>
</nav>

<!-- nav desktop -->

<nav
  class="hidden lg:flex place-items-center text-center space-x-10 items-center"
>
  {
    menu.map(({ label, path }) => (
      <a class="text-white/90 font-normal" href={path}>
        {label}
      </a>
    ))
  }

  <div class="nav-button">
    {
      menuButtons.map(({ label, path }) => (
        <a
          class="text-white text-center font-bold rounded-md py-2 border border-transparent transition-colors duration-300 ease-in-out"
          href="path"
        >
          {label}
        </a>
      ))
    }
  </div>

  <ToggleLang client:load />
</nav>

<style>
  :global(:has(#toggleNav.open)) .nav-mobil {
    @apply top-[88px] translate-y-0;
  }

  .nav-button {
    @apply space-x-0;
  }

  .nav-button a {
    @apply pr-8;
  }

  .nav-button a:last-child {
    @apply bg-qGreen text-qBlack px-4;
  }

  .nav-button a:last-child {
    @apply border-none;
  }

  .nav-button a:last-child:hover {
    @apply bg-qGreen/80 text-qBlack;
  }

  @media (max-width: 768px) {
    .nav-button a {
      @apply border-qGreen text-qGreen;
    }
  }
</style>
